<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>
  <head><!-- index for default theme* -->
  	{{{ meta.inject().title.text() }}}
  	{{{ meta.inject().meta.text() }}}
		{{{ meta.inject().link.text() }}}
		{{{ meta.inject().script.text() }}}


		<script type="text/javascript">
			!function(a,b,c,d,e,f,g,h){a.RaygunObject=e,a[e]=a[e]||function(){
			(a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
			f.async=1,f.src=d,g.parentNode.insertBefore(f,g),h=a.onerror,a.onerror=function(b,c,d,f,g){
			h&&h(b,c,d,f,g),g||(g=new Error(b)),a[e].q=a[e].q||[],a[e].q.push({
			e:g})}}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");
		  </script>

	<!--
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
	-->

	<!-- preload web fonts for styla -->
	<link rel="preload" href="https://cdn.iclothing.com/skin/frontend/codazon_fastest/baby/css/fonts/brandon_bld-webfont.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="https://cdn.iclothing.com/skin/frontend/codazon_fastest/baby/css/fonts/brandon_med-webfont.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="https://cdn.iclothing.com/skin/frontend/codazon_fastest/baby/css/fonts/brandon_light-webfont.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="https://cdn.iclothing.com/skin/frontend/codazon_fastest/baby/css/fonts/brandon_reg-webfont.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="dns-prefetch" href="//styla-prod.us.imgix.net">
	<link rel="dns-prefetch" href="//client-scripts.styla.com">
	<link rel="dns-prefetch" href="//redpanda.styla.com">
 
	<script src="https://client-scripts.styla.com/scripts/clients/iclothing-import.js" type="text/javascript" async></script>
	



	<script type="text/javascript">
			WebFontConfig = {
				google: { families: [ 'Noto+Serif+SC:700:latin', 'Roboto:300,400,500:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
    </script>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
		<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-DMMBXP3J64"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-DMMBXP3J64');
		</script> -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-F45GJ7YSM2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());  gtag('config', 'G-F45GJ7YSM2');
		</script>		
	<!-- ########## YOTPO ######### -->
	<!-- <script type="text/javascript">
	(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/kAufTbS2x5wG440QIWrQTVzAcXPZfU6DpbuFUKym/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
	</script> -->
	<script type="text/javascript" async>
		function myInit(){
		   StampedFn.init({ apiKey: 'pubkey-Y55wBte73EjEC0fGTj5RWA8fEEny21',
            storeUrl: 'www.iclothing.com' }); 
		}
	</script>
	<script async onload="myInit()" type="text/javascript" src="https://cdn1.stamped.io/files/widget.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn-stamped-io.azureedge.net/files/widget.min.css">
	
	<!-- True Fit Script -->

	<script type="text/JavaScript" async>
		(function(){
			var a={};
			function g(l){
			a[l]=function(r,e,o){
			var w=window,d=document,p=[],t,s,x;
			w.tfcapi=t=w.tfcapi||function(){
			t.q=t.q||[];
			t.q.push(arguments);};
			o&&o.forceMobile===true&&p.push('deviceType=mobile');
			o&&o.autoCalculate===false&&p.push('autoCalculate=false');
			x=d.getElementsByTagName('script')[0];
			s=d.createElement('script');
			s.type='text/javascript';s.async=true;
			s.src='https://'+r+'-cdn'+(e==='dev'||e==='staging'?'.'+e:'')+
			'.truefitcorp.com/fitrec/'+r+'/js/'+l+'.js?'+p.join('&');
			x.parentNode.insertBefore(s,x);}}
			g('fitrec');
			g('tracker');
			return a;
			// Don't change anything above this line
	 })().fitrec('icl','staging',{autoCalculate:false});
	//  .fitrec('icl','staging'); 
	</script>


	<!-- <script src="https://engine.styla.com/init.js" async></script> 
	<script type="text/javascript">
		var ScarabQueue = ScarabQueue || [];
		(function(id) {
		  if (document.getElementById(id)) return;
		  var js = document.createElement('script'); js.id = id;
		  js.src = '//cdn.scarabresearch.com/js/1CF94B0E038F4075/scarab-v2.js';
		  var fs = document.getElementsByTagName('script')[0];
		  fs.parentNode.insertBefore(js, fs);
		})('scarab-js-api');
	</script>
	<script src="https://d22q3dafggn5rg.cloudfront.net/emarsys-m1.js"></script>	
-->


  	<!-- for segmentify product recommendations widgets -->
	<script src="//cdn.segmentify.com/3eb32483-e5a6-403f-b355-909ba225968e/segmentify.js" charset="UTF-8" async></script>

	<!-- >> PAPERPLANES - CORE TAG
	<script type="text/javascript" async> 
		var _paq = window._paq || [];
		_paq.push(['trackPageView']); 
		_paq.push(['enableLinkTracking']); 
		(function() { var u="//paperplaneslive.com/Paperplanes/";
			_paq.push(['setTrackerUrl', u+'js/tracker.php']); 
			_paq.push(['setSiteId', '4108']); 
		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; 
		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'js/tracker.php'; s.parentNode.insertBefore(g,s); 
		})(); 
	</script> 
	-->
	
	<!-- >> DATASHIPS START  << -->
	<!-- <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="5daad7a0-072e-4a66-875c-c0f2f1d7f698" data-blockingmode="auto" type="text/javascript"></script> -->
	<!-- <script type="text/javascript">
		document.write("<script id='pc' type='text/javascript' src='https://api.dataships.io/js/pc.js?apikey=f4nIJ0NEbIKN4Qs2jVsAnouSqJkWjaah&v="+Date.now()+"' async defer></scr"+"ipt>");
	</script> -->
	<!-- >> DATASHIPS ENDS  << -->	

		{{{ renderResourceHints() }}}
		{{{ renderStyles() }}}
		{{{ output.appendHead() }}}


		<!-- emarsys script start -->
		<script type="text/javascript" async>
			var ScarabQueue = ScarabQueue || [];
			(function(id) {
			  if (document.getElementById(id)) return;
			  var js = document.createElement('script'); js.id = id;
			  js.src = '//cdn.scarabresearch.com/js/1CF94B0E038F4075/scarab-v2.js';
			  var fs = document.getElementsByTagName('script')[0];
			  fs.parentNode.insertBefore(js, fs);
			})('scarab-js-api');
		</script>

	</head>
  <body>
		<!--vue-ssr-outlet-->
    {{{ renderState() }}}
	{{{ renderScripts() }}}
	<!-- Start of iclothing Zendesk Widget script 
	<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=627921cd-e179-4337-86af-1469e5c327f2"> </script>
	<script type="text/javascript">
		window.zESettings = {
			webWidget: {
				zIndex: 10
			}
		};
	</script>
-->
	<!-- End of iclothing Zendesk Widget script -->	


	<script type="text/javascript">
		rg4js('apiKey', 'sTwoGytVL0ExleRgs75qjg');
		rg4js('enablePulse', true);
	  </script>

  </body>
</html>
