<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>
  <head><!-- index for default theme* -->
  	{{{ meta.inject().title.text() }}}
  	{{{ meta.inject().meta.text() }}}
		{{{ meta.inject().link.text() }}}
		{{{ meta.inject().script.text() }}}
	<script type="text/javascript">
			WebFontConfig = {
				google: { families: [ 'Noto+Serif+SC:700:latin', 'Roboto:300,400,500:latin' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();
    </script>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DMMBXP3J64"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-DMMBXP3J64');
	</script>
	<!-- ########## YOTPO ######### -->
	<!-- <script type="text/javascript">
	(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/kAufTbS2x5wG440QIWrQTVzAcXPZfU6DpbuFUKym/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
	</script> -->

	<script async onload="myInit()" type="text/javascript" src="https://cdn1.stamped.io/files/widget.min.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn-stamped-io.azureedge.net/files/widget.min.css">
	<script type="text/javascript">
		function myInit(){
		   StampedFn.init({ apiKey: 'pubkey-Y55wBte73EjEC0fGTj5RWA8fEEny21',
            storeUrl: 'www.iclothing.com' }); 
		}
	</script>
	    
		{{{ renderResourceHints() }}}
		{{{ renderStyles() }}}
		{{{ output.appendHead() }}}
	</head>
  <body>
		<!--vue-ssr-outlet-->
    {{{ renderState() }}}
    {{{ renderScripts() }}}
  </body>
</html>
